<!-- fruits-lists.component.html -->

<div class="fruits-list">
  <div *ngFor="let content of contents" class="row p-45-0">
    <div class="col-md-8">
        <div class="fruit_detail-box">
        <h3>{{content.heading}}</h3>
      <p class="mt-4 mb-5">{{ content.text }}</p>
      <button class="btn-contact brnad-btn" (click)="onButtonClick(content)">Click Me</button>
    </div>
</div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <div class="fruit_img-box d-flex justify-content-center align-items-center">
        <img [src]="content.image" alt="{{ content.alt }}" />
      </div>
    </div>
  </div>
</div>
