/* css variables */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --brand-color: #fc5d35;
    --body-color:#000000;
    --text-color:#343434;
    --btn-text-color:#fff;
    --hover-btn-ng:#fff;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--body-color);
}
.brnad-btn:hover{
    background: var(--hover-btn-ng) !important;
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
}
.btn-contact:hover{
    border: 1px solid var(--body-color);    
    color: var(--body-color);
}
.btn-contact{
    background: var(--body-color) !important;
    color: var(--btn-text-color);
}
.brnad-btn{
    color: var(--btn-text-color);
    border: none;
    display: inline-block;
    padding: 5px 15px;
    background:var(--brand-color);
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid;
}
.ml-4{
    margin-left: 1.5rem;
}
.align-item-center{
    align-items: center;
}
section{
    padding-top: calc(8% + 89px); 
}
.section{
    padding: 75px 0 0;
}
h1{
    font-weight: 700;
    font-size: 60px;
}
h4{
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}
@media screen and (max-width:768px) {
    h1 {
        font-weight: 700;
        font-size: 60px;
        width: 95%;
        text-align: center;
    }
    .btn-div{
        display: flex;
        justify-content: center;
    }
}